header{
	position: relative;
	padding: .2rem .1rem;
	border-bottom: 1px solid #EEEEEE;
	background-color: #fff;
	text-align: center;
}
.icon_left{
    width: 0.4rem;
	float: left;
}
.icon_right{
    width: 0.7rem;
	float: right;
}
a {color:#000;
    width:0.7rem;
    line-height: .3rem;
    display: block;
    float: left;
    text-align: center;
}
.active {
	color:#F56839;
}
/*nav*/
nav{
    font-size: .14rem;
	 width: 100%;
	 height: 0.6rem;
     border-bottom: 1px solid #EEEEEE;	
}
.books_date li{
	text-align: center;
	 font-size: .12rem;
	 float: left;
	 width: 20%;
	 padding: 0.1rem .0rem;
	 border-right:1px solid #EEEEEE;	
}

.books_date a:nth-child(n+5){
 display: none;
}
/*.books_date li:nth-child(-n+3){
	display: block;
}*/
.books_date li div:nth-child(2){
 margin-top: .1rem;
}
.books_left{
	display: none;
}
.btn{
	width: .3rem;
	float: right;
	margin-right: .1rem;
	margin-top: .1rem;
}
.books_rigth{
	font-size: .4rem;
	color: #ABABAB;
	display: block;
}
.books_left{
	font-size: .4rem;
	color: #ABABAB;
	display: none;
}

/*article*/
article{
    width: 100%;
    overflow-x: auto;
}

#nav{
    font-size: .12rem;
	width: 3rem;
	 display: block;
    overflow-x: auto;  
}

#article_table{
      border-collapse:separate;
    border-spacing:.03rem;
	font-size: .12rem;
	/*width: 3rem;*/
	margin-right: .1rem;
	 display: block;
    overflow-x: auto;  
    white-space: nowrap; 
}

tbody{
	width: 3rem;
}
tr td,th{
   padding: .05rem;
}
th{

 text-align: center;
}
td{
	color: #fff;
	/*background-color: #DCDCDC;*/
	background-color: #1AAD19;
	border-radius: .05rem;
	font-size: .1rem;
}
.td_time{
	color:#F56839;
	background-color: #F56839;
	text-align: center;
	padding: .05rem;
	position: relative;
}
.td_time:after{
    content: "2小时";
    background-color: #F56839;
    color: #ffffff;
    position: absolute;
    width: .4rem;
    left: 0;
    right: 0;
    top: 0.045rem;
    bottom: 0;
    margin: auto;
}

.footer_before{
	display: block;
}
footer{
	position: fixed;
	bottom: 0;
	font-size: .12rem;
	width: 100%;
}

.li_kx{
    width: .25rem;
    height: .25rem;
    float: left;
    margin-right: .07rem;
    margin-top: -.1rem;
   background-color: #1AAD19;
}
.li_yx{
    width: .25rem;
    height: .25rem;
    float: left;
    margin-right: .07rem;
    margin-top: -.1rem;
   background-color: #F56839;
}
.li_ys{
    width: .25rem;
    height: .25rem;
    float: left;
    margin-right: .07rem;
    margin-top: -.1rem;
   background-color: #DCDCDC;
}
.footer_before_u{
    padding: .15rem .1rem 0rem .1rem;
    height: .25rem;
	border-bottom: 1px solid #EEEEEE;
}
.footer_before_u ul li{
	float: left;
	padding: 0 .1rem;
}
.user_notice{
	color:#F56839;
	width: 1rem;
    right: 0rem;
    text-align: center;
    position: absolute;
}
.footer_before_d{
	position: relative;
	height: .4rem;
}
.select_local{
	position: absolute;
	right: 0 ;
	bottom: 0;
	height: .4rem;
	line-height: .4rem;
	width: 0.8rem;
	text-align: center;
	background-color: #1AAD19;
	color: #fff;
}

.footer_after{
	display: none;
}

.footer_after_u{
	width: 100%;
	min-height: .4rem;
	position: relative;
	bottom: .4rem;
	border-top: 1px solid #EEEEEE;
}
.footer_after_u ul li{
    width: 21%;
    float: left;
    height: .4rem;
    line-height: .2rem;
    text-align: center;
    margin: 0 .05rem;
    margin-bottom: .05rem;
    border: 1px solid #F56839;
}
.li_time{
	background-color: #F56839;
	color: #ffffff;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.footer_after_d{
  border-top: 1px solid #EEEEEE;
}
.footer_total{
	width: 1rem;
	position: absolute;
	left:0.1rem ;
	bottom: 0;
	height: .4rem;
	line-height: .4rem;
}
.footer_price{
   color: #F56839;
   font-weight: 900;
} 

/*section*/
.notice{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0rem;
    z-index: 10;
    text-align: center;
	display: none;  
}
.cover{
    width: 100%;
    height: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0.6;
	z-index: 2;
}
.section_content{
	position: absolute;
	left: 50%;
	margin-left: -1.35rem;
	width: 2.5rem;
	height: 4rem;
    top: 0.8rem;
    text-align: center;
    background-color: #fff;
    z-index: 100;
    border:1px solid red;
    padding: .1rem;
    font-size: .12rem;
    text-align: left;
    overflow:auto;
}
.x{
	position: absolute;
	top: .1rem;
	right: .1rem;
}
h1{
	text-align: center;
	font-size: .16rem;
}
h2{
	font-size: .2rem;
	font-weight: 900;
	text-decoration: underline;
}
.text_3{
	font-weight: 900;
	text-decoration: underline;
}
.text_4{
	font-weight: 900;
}
.know{
	text-align: center;
	width: 1rem;
	padding: .1rem 0.5rem;
	background-color: #F56839;
	color: #ffffff;
	border-radius: .05rem;
	position: absolute;
	left: 50%;
	margin-left: -1rem;
	margin-bottom: .1rem;
}


.phones{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0rem;
    display: none;
}
.phones:after{
 content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    z-index: 22;
}

.phone{
	top: 2.5rem;
	background-color: #eee;
	width: 3rem;
	height: 2rem;
	margin:auto;
	left:0;
	right:0;
	bottom:0; 
	text-align: center;
	border-radius: .1rem;
	position: relative;
	z-index: 100;
/*	border:1px solid green;*/
}


h3{
	text-align: center;
	padding: .1rem 0;
	font-weight: 600;
}
.phone_num{

   width: 2rem;
   margin:auto;
}

.phone_code{
    margin-top: .1rem;
  width: 2rem;
  margin:auto;
  display: flex;
     margin-top: .1rem;
}
.phone_n{
  padding-left: .2rem;
  height: .4rem;
  width: 1.8rem;
  border-radius: .4rem;
}
.code{
  padding-left: .2rem;
  height: .4rem;
  width: 1rem;
  border-radius: .4rem;
}
.code_post{
	font-size: .12rem;
  flex: 1;
  line-height: .4rem;
  background-color: green;
  color: #fff;
  border-radius: .1rem;
  margin-left: .05rem;
}
input{
	border:1px solid green;

}
.sub{
  width: 1rem;
  height: .3rem;
  line-height: .3rem;
  margin:auto;
   background-color: green;
  color: #fff;
    border-radius: .05rem;
    margin-top: .2rem;
}
.phone_img{
	width: .2rem;
	height:.2rem;
	position: absolute;
	top: .07rem;
	right: .07rem;
}
.selected{
	background: #fff;
    color: #000;
}